<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <%= link_to "Edit this employee", edit_employee_path(id: current_user.id) %> |
  <%= link_to "Back to employees", employees_path %>
</div>
